.box{
    width: 100wh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxes{
    width: 400px;
    padding: 10px;
    line-height: 25px;
    

}
body{
    font-family:Verdana, Geneva, Tahoma, serif ;
  
}
h1,h4,h3{
  
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: lighter;
    
}
p{
    font-size: 13.5px;
}
img{
    width: 200px;
    height: auto;
}
